/* You can add global styles to this file, and also import other style files */

@import "assets/css/bootstrap/bootstrap.css";
@import "assets/css/image-modal/style.css";
@import "assets/css/canvas-modal/style.css";
@import "~font-awesome/css/font-awesome.css";
@import "~bootstrap-social/bootstrap-social.css";
@import "~intro.js/introjs.css";
@import "~roboto-fontface/css/roboto/roboto-fontface.css";
@import "~nouislider/distribute/nouislider.min.css";
body {
  padding-top: 55px;
  padding-bottom: 10px;
  font-family: 'Roboto', sans-serif;
}

#appBlackoutHightlightOverlay {
  display: none;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  position: fixed;
  opacity: 0.7;
  box-sizing: content-box;
  z-index: 999999;
  background-color: #000;
}

.home-background {
  background-image: url('/assets/images/home-background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0% 70px !important;
}

.home-background-rtl {
  background-image: url('/assets/images/home-background-rtl.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0% 70px !important;
}

.ontop-overlay {
  z-index: 9999999 !important;
}

.withinIntro .sticky-top {
  position: initial;
}

.clickable:not(.disabled) {
  cursor: pointer;
}

.no-focus:focus {
  outline: 0;
}

.help-block {
  font-size: 12px;
}

.dropdown-toggle {
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
}

.tooltip-inner {
  min-width: 100px;
  font-family: 'Roboto', sans-serif;
}

.popover {
  font-family: 'Roboto', sans-serif;
}

.rtl .introjs-tooltipbuttons {
  direction: rtl
}

.rtl.introjs-tooltip {
  direction: rtl;
}

.introjs-nextbutton:not(.introjs-disabled), .introjs-donebutton:not(.introjs-disabled) {
  background-color: #28af59;
  background-image: -webkit-gradient(linear, top left, bottom left, color-stop(0, #2ec866), color-stop(1, #28af59));
  background-image: -webkit-linear-gradient(top, #2ec866, #28af59);
  background-image: linear-gradient(to bottom, #2ec866, #28af59);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3), inset 0 1px 1px rgba(255, 255, 255, 0.1), inset 0 -1px 6px rgba(32, 138, 70, 0.4);
  color: #fff;
  text-shadow: none;
}
