.selected-image {
  opacity: 0.5;
}

.img-check-mark {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.portfolio-item-img, .collection-image, .workspace-image {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.portfolio-item-img {
  border: 3px solid transparent;
}

.portfolio-item-img:hover:not(.selected-image) {
  border-color: gray;
}

.portfolio-item-img-container .popover {
  font-weight: bold;
}

.portfolio-item-img-container .popover .popover-header {
  background-color: red;
  color: white;
}

.starting-at {
  font-size: 13px;
}

.img-button.img-check-mark:hover:not(.disabled) {
  background-color: #efefef;
}

.sticky-top {
  top: 80px;
}

.img-close {
  top: 1px;
  right: 10px;
  font-size: 20px;
}

.collection-image:hover+.img-close, .img-close:hover {
  color: antiquewhite;
}

.arrow-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.tag-chooser {
  display: table;
}

.img-button {
  border-radius: 40px;
  background-color: #efefef;
  padding: 6px;
}

.img-button:hover:not(.disabled) {
  background-color: #dbdbdb;
}

.img-button {
  margin-left: 2px;
  margin-right: 2px;
}

.img-button.disabled {
  color: #b2b2b2
}

.img-clear {
  width: 26px;
  padding: 5px;
}

.editable-text {
  border: 1px solid transparent;
  padding: 4px;
}

.img-loader {
  top: 50%;
  left: 50%;
  margin: -20px;
}

.horizontal-slide {
  white-space: nowrap;
  overflow-x: hidden;
  width: 540px;
}

.horizontal-slide .tag {
  display: inline-block;
  float: none;
  margin: 3px;
}

.tags-scrollbar {
  padding-bottom: 10px;
  overflow-x: hidden !important;
}

.tag-list .tags-scrollbar-bar {
  height: 9px;
  background-color: rgba(0, 0, 0, .15);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, .5), inset 0 0 2px rgba(0, 0, 0, .2), 0 0 0 1px hsla(0, 0%, 100%, .5);
  border-radius: 3px;
}

.tag-list .tags-scrollbar-thumb, .tag-list .tags-scrollbar-thumb:active, .tag-list .tags-scrollbar-thumb:hover {
  cursor: pointer;
  background-color: #f8f8f8;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .2), 0 1px 1px rgba(0, 0, 0, .5);
}

.tag-list {
  margin: 0 10px;
  overflow-x: hidden;
}

.color {
  width: 25px;
  height: 25px;
  border: 2px solid transparent;
}

.colorful {
  border-width: 0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff3232+11,f4ff32+21,f4ff32+29,32ff32+40,32ffff+50,32ffff+58,3239ff+67,9f22aa+88,875196+100 */
  background: #ff3232;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #ff3232 11%, #f4ff32 21%, #f4ff32 29%, #32ff32 40%, #32ffff 50%, #32ffff 58%, #3239ff 67%, #9f22aa 88%, #875196 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #ff3232 11%, #f4ff32 21%, #f4ff32 29%, #32ff32 40%, #32ffff 50%, #32ffff 58%, #3239ff 67%, #9f22aa 88%, #875196 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #ff3232 11%, #f4ff32 21%, #f4ff32 29%, #32ff32 40%, #32ffff 50%, #32ffff 58%, #3239ff 67%, #9f22aa 88%, #875196 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3232', endColorstr='#875196', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}

.color-table {
  margin-top: 25px;
}

.color-table .tooltip-inner {
  min-width: unset;
}

.color:hover {
  border-color: #000;
}

.color.active {
  border-color: #000;
}

.colorful:hover {
  border: 2px solid gray;
}

.colorful.active {
  border: 2px solid gray;
}

.item-color {
  width: 25px;
  height: 25px;
}

.app-arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  cursor: pointer;
}

.arrow-right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

div.rtl .arrow-right {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.arrow-left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

div.rtl .arrow-left {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.project-toolbar {
  background-color: #7b7b7b;
  width: 100%;
  padding: 3px;
}

.collection-panel {
  background-color: #f3f3f3;
  -webkit-box-shadow: 0 4px 16px 3px #b1b1b1;
  -moz-box-shadow: 0 4px 16px 3px #b1b1b1;
  box-shadow: 0 4px 16px 3px #b1b1b1;
}

.collection-name {
  color: #ffffff;
  font-size: 17px;
}

.collection-edit {
  font-size: 1.2em;
  line-height: 1.7em;
}

.workspace-image {
  max-height: 360px;
}

.full-image-button:hover {
  color: #6d3fec
}

.porject-board-help-block {
  font-size: 13px;
}

.workspace-image-text {
  left: 10%;
  top: 10px;
  font-size: 26px;
  font-weight: bold;
}

.workspace-image-section {
  -webkit-box-shadow: 0 3px 12px 0px #b1b1b1;
  -moz-box-shadow: 0 3px 12px 0px #b1b1b1;
  box-shadow: 0 3px 12px 0px #b1b1b1;
}

.size-input {
  width: 50px !important;
}

.size-filter {
  background-color: #f8f9fa;
  padding-top: 2px;
  padding-bottom: 3px;
  border: 1px solid #f8f9fa;
  border-radius: 0.25rem;
}

.price-range {
  width: 170px;
  vertical-align: middle;
}

.price-range .noUi-tooltip {
  font-size: 11px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.noUi-horizontal .noUi-handle {
  width: 23px;
  height: 22px;
  top: -3px;
}

.noUi-handle:after, .noUi-handle:before {
  height: 14px;
  width: 1px;
  top: 3px;
}

.noUi-handle:before {
  left: 8px;
}

.noUi-handle:after {
  left: 12px;
}

.text-search .form-control {
  position: relative;
  padding-right: 45px !important;
}

.text-search button {
  background-color: transparent;
  padding: 0;
  position: absolute;
  top: 26px;
  right: 26px;
  font-size: 20px;
  z-index: 1;
}
