.app-navbar .navbar-nav .nav-link {
  color: #000000;
}

nav.navbar {
  -webkit-box-shadow: 0 0px 12px 2px #b1b1b1;
  -moz-box-shadow: 0 0px 12px 2px #b1b1b1;
  box-shadow: 0 0px 12px 2px #b1b1b1;
  padding-top: 3px;
  padding-bottom: 3px;
}

.nav-item.active>a.nav-link {
  border-bottom: 1px solid #7327e7;
  padding-bottom: 0.15rem;
  padding-right: 0.2rem;
  padding-left: 0.2rem;
  margin-right: 0.3rem;
  margin-left: 0.3rem;
}
